pipeline/databaseLookupAndExecute.json
{
	"name": "databaseLookupAndExecute",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES \nWHERE TABLE_TYPE = 'BASE TABLE' and \n\tTABLE_SCHEMA = 'SalesLT' and \n\tTABLE_NAME <> 'ProductModel'"
					},
					"dataset": {
						"referenceName": "SQLDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "processCurrentTable",
						"type": "PipelineReference"
					},
					"parameters": {
						"tableList": {
							"value": "@activity('Lookup1').output.value",
							"type": "Expression"
						}
					}
				}
			}
		]
	}
}